/* custom CSS */

#root {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.text-gradient {
  background: linear-gradient(109.6deg,rgba(150,50,189,.753) 11.2%,#e9877a 100.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.logosSlide {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
